<% if users_any? %>
<h3><%= pluralize(@users.size, "User") %></h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <% if current_user?(user) %>      
      View <%= link_to "your closet", user_items_url(user) %>
      <% else %>
      View <%= link_to "#{user.name.possessive} closet", user_items_url(user) %>
      <% end %>
    </li>
  <% end %>
</ul>
<% else %>
<h3>No users yet.</h3>
<p> Be the first to join <%= link_to("here", signup_url) %>! </p>
<% end %>