<h1>Account Settings</h1>
<%= render "form", user: @user %>

<% if admin_or_current_user %>
<section class="user">
  <div class="actions">
     &emsp;<%= link_to "Delete Account", @user, method: :delete, 
        data: { confirm: "Permanently delete account?! \nThis cannot be undone." },
        class: "button delete" %>
  </div>
  </section>
 <% end %>
