<footer>
      <p>
        All CSS/Sass Stylings are Copyright &copy; <%= Time.now.year %>
        <%= link_to 'The Pragmatic Studio','https://pragmaticstudio.com' %>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Back to Top", '#', class: "button-anchor" %>

      </p>
</footer>